.message-list {
  border: 1px solid black;
  padding: 10px;
  background-color: #ccc;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
